/* .add_staff-container {
  background-color: #fff;
  width: 800px;
}

.add_staff-heading {
  display: flex;
  background-image: linear-gradient(120deg, #005059, #bfd6d2);
  justify-content: space-around;
  align-items: center;
  height: 90px;
}

.add_staff-heading-title {
  background: -webkit-linear-gradient(120deg, #eee, #e9c2e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add_staff-btn-exit {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.add_staff-body {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

.add_staff_img {
  display: block;
  text-align: center;
  flex: 1;
}

.btn-pickImage {
  width: 120px;
  height: 30px;
  border: 1px solid #a19b9b;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.add_staff-avatar {
  width: 130px;
  height: 130px;
}

.add_staff-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex: 4;
}

.add_staff-form-row {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_staff-form-input {

}

.add_staff-form-row > input {
  border: 1px solid #4e5052;
  border-radius: 5px;
}

.add_staff-form-error {
  position: absolute;
  left: 35%;
  top: -20px;
  font-weight: 500;
  color: #e74c3c;
  font-size: 14px;
  text-align: center;
}
.error {
  border: 1px solid red !important;
}
.add_staff-form-select {
  width: 65%;

  padding: 10px;
  border: 1px solid #4e5052;
  border-radius: 5px;
}
.add_staff-form-row > span {
  width: 35%;

  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}
.add_staff-btn-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}
.add_staff-btn-save {
  width: 100px;
  height: 40px;
  margin-right: 20px;
  border-radius: 5px;
  color: white;
  background-color: #4cb050;
}
.add_staff-btn-cancel {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #898c8d;
}  */


.add_staff-container {
  border: 1px solid #ddd;
  background-color: #fff;
  padding-bottom: 30px;
  border: 0.2rem solid #005059;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
}

.add_staff-heading {
  display: flex;
  background-image: linear-gradient(120deg, #005059, #bfd6d2);
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  height: 90px;
}

.add_staff-heading-title {
  background: -webkit-linear-gradient(120deg, #eee, #e07116);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add_staff-btn-exit {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.add_staff-body {
  display: flex;
  padding: 30px 0;
}

.add_staff-heading-info {
  font-size: 15px;
  position: absolute;
  left: 0px;
  bottom: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.add_staff_img {
  display: block;
  text-align: center;
  margin-left: 50px;
}

.btn-pickImage {
  width: 120px;
  height: 30px;
  border: 1px solid #a19b9b;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.btn-pickImage {
  width: 120px;
  height: 30px;
  border: 1px solid #a19b9b;
  border-radius: 5px;

  margin-top: 20px;
}
.add_staff-avatar {
  width: 130px;
  height: 130px;
}
.add_staff-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 770px;
}

.add_staff-form-row {
  position: relative;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 40px;
}

.add_staff-form-row > input {
  width: 65%;
  padding: 10px;
  border: 1px solid #4e5052;
  border-radius: 5px;
}

.add_staff-form-error {
  position: absolute;
  left: 35%;
  top: -20px;
  font-weight: 500;
  color: #e74c3c;
  font-size: 14px;
  text-align: center;
}
.error {
  border: 1px solid red !important;
}
.add_staff-form-select {
  width: 65%;

  padding: 10px;
  border: 1px solid #4e5052;
  border-radius: 5px;
}
.add_staff-form-row > span {
  width: 35%;

  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}
.add_staff-btn-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}
.add_staff-btn-save {
  width: 100px;
  height: 40px;
  margin-right: 20px;
  border-radius: 5px;
  color: white;
  background-color: #ffa65d;
}
.add_staff-btn-save:hover {
  background-color: #fc8b2f;
}
.add_staff-btn-cancel {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #a0a2a3;
}

.add_staff-btn-cancel:hover {
  background-color: #777777;
}
