.staffs {
  background-color: #fafafb;
}

.search_name {
  height: 46px;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #097c99;
  background-image: linear-gradient(200deg, #005059, #bfd6d2);
}

.search_name-wrapper {
  width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.search_name-input {
  flex: 1;
  font-size: 16px;
  padding: 8px 6px;
}

.search_name-icon {
  padding: 6px;
  font-size: 23px;
  width: 59px;
  color: #fafafb;
  margin-right: 2px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(150deg, #005059, #bfd6d2);
}

.list_staff {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-left: -10px;
  padding: 25px 10px 30px 20px;
}

.search_position {
  display: block;
  font-size: 17px;
  padding: 20px 15px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 25%);
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 25px;
  animation: fade-in-ani 1s;
}

.search_position:hover {
  box-shadow: 0 3px 15px rgb(0 102 110 / 35%);
}

.search_position-label {
  display: block;
  padding: 10px 10px 15px;
}

.search_position-select {
  font-size: 17px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #005059;
  outline: 0;
}

.search_position-select option {
  border: 2px solid #005059;

}
.search_position-select:focus option {
  border: 2px solid #005059;

}
.search_position-select:focus {
  border: 2px solid #005059;
}

.action-staff-btn {
  margin: 10px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-staff-btn > button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  background-image: linear-gradient(150deg, #005059, #3491a8);
  font-size: 18px;
}

@keyframes fade-in-ani {
  from {
    opacity: 0;
    transform: translate(0, -25%);
  }
  to {
    transform: translate(0, 0%);
    opacity: 1;
  }
}

.div_search {
  width: 224px;
  height: 125px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #a19b9b;
  animation: fade-in-ani 1.5s;
  background: #ffffff;
}
.header_search {
  margin-top: 20px;
  margin-left: 20px;
}
.search {
  width: 200px;
  height: 40px;
  position: relative;
  display: flex;
  margin-left: 15px;
  border: none;
  border-bottom: 1px solid #a19b9b;
  margin-top: 20px;
}
.search > i {
  font-size: 1rem;
  position: absolute;
  right: 10px;
  margin-top: 10px;
}
.search > input {
  background-color: #fff;
  height: 100%;
  width: 100%;
  font-size: 13px;
  border-radius: var(--border-radius);
  color: var(--txt-color);
}
.action-staff-btn {
  text-align: center;
}

i.bx.bx-plus {
  margin-right: 6px;
}

.selectbox {
  width: 200px;
  height: 40px;
  margin-left: 15px;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #a19b9b;
}

@keyframes fade-in-ani {
  from {
    opacity: 0;
    transform: translate(0, -25%);
  }
  to {
    transform: translate(0, 0%);
    opacity: 1;
  }
}

.css-1fw5qro-MuiPaper-root {
  box-shadow: 0 2px 15px rgb(0 0 0 / 25%) !important;
}

